name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      pre-run-script: .github/test-pre-script.sh
      self-hosted-runner: true
      self-hosted-runner-image: "noble"
      provider: lxd
